*{
    margin: 0;
    border: border-box;

}

.navbar {
    height: 60px;
    
    background-color: #0F1111;
    color: white;
    /**display: flex;
    align-items: center;
    justify-content: center;**/
}

.nav_logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("./Images/amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}